<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzPG2VQxs0RLmTltCx0n_acgDMG00gPO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1065232852251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buyMe</string>
	<key>PROJECT_ID</key>
	<string>buyme-c8805</string>
	<key>STORAGE_BUCKET</key>
	<string>buyme-c8805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065232852251:ios:a1241b1bcd6c0480179fbe</string>
</dict>
</plist>